<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
   
  </head>  
  <body>
    <% include partials/header.ejs %>
    <div class="hidden-xs">
      <% include partials/carousel.ejs %>
    </div>
    <div class="container">
      <div class="container">
        <h3 class="text-center"><%= title %></h3> 
      </div>

      <div class="container poster" style="padding-bottom: 10%">
        <div class="row">
          <div class="col-lg-4 hidden-xs hidden-sm">
            <img src="/images/<%= medie.poster %>" class="img-responsive">
          </div>
          <div class="col-sm-5 col-lg-4 visible-xs visible-sm" style="padding-bottom: 5%">
            <img src="/images/<%= medie.poster %>" class="img-responsive">
          </div>
          <div class="col-sm-7 col-lg-5">
            <p><%= medie.description %></p>
          </div>
          <div class="col-sm-12 col-lg-3" style="padding-right: 2%">
            <ul>
              <% for (var i = 0; i < main_characters.length; i++) { %>
                <li><%= main_characters[i] %></li>
              <% } %>
            </ul>
          </div>
        </div>
      </div><!--container poster-->
    </div>


    <div class="navbar-fixed-bottom hidden-lg hidden-md hidden-xs"> 
      <% include partials/footer.ejs %>
    </div>
    <div class="visible-lg visible-md visible-xs"> 
      <% include partials/footer.ejs %>
    </div>
    <% include partials/scripts.ejs %>
  </body>
</html>
